.header {
  align-items: center;
  background: $header-footer-color;
  display: flex;
  flex-direction: column;
  height: fit-content;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.header-content {
  align-items: center;
  display: flex;
  height: 30px;
  justify-content: space-between;
  font-family: $font-page;
  font-size: 30px;
  margin-top: 5px;
  width: 95%;
}

.image {
  background: none;
  border: none;
  width: 3%;
  height: 30px;
  outline: none;
}

img {
  width: 25px;
}

@media (max-width: 768px) {
  .header-content {
    font-size: 25px;
    width: 90%;
  }
}

@media (max-width: 550px) {
  .header-content {
    font-size: 20px;
    width: 85%;
  }

  img {
    width: 6vw;
  }
}
