$header-footer-color: #ff5747;
$searchBar-field: #ff7c70;
$button-filter-color: #fffafa;
$font-page: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

@mixin display-flex {
  display: flex;
  flex-direction: column;
}

body {
  background-color: $button-filter-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  padding-top: 60px;
  padding-bottom: 70px;
}
