$header-footer-color: #ff6c40;
$searchBar-field: #ff8661;
$cards-color: #ff8661;
$button-filter-color: #fff7f7;
$font-page: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

@mixin display-flex {
  display: flex;
  flex-direction: column;
}

@mixin main-content-size {
  height: calc(100vh - (40px * 2));
  overflow: scroll;
  padding-bottom: 45px;
  padding-top: 35px;
}

@mixin box-shadow {
  background-color: lighten($cards-color, 15%);
  border: 1px solid $button-filter-color;
  border-radius: 10px;
  box-shadow: 0 0 0.5em black;
}

body {
  background-color: $button-filter-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  padding-top: 60px;
  padding-bottom: 70px;
}
