.recipe-cards {
  @include box-shadow;
  height: 15vw;
  @include display-flex;
  justify-content: space-between;
  margin: 3vw 1vw 0 1vw; 
  overflow: hidden;
  width: 15%;

  img {
    border-bottom: 1px $button-filter-color solid;
    height: 13vw;
    width: 100%;
  }

  h5 {
    color: black;
    font-size: 1vw;
    font-family: $font-page;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    width: 100%;
  }
}

@media (max-width: 1440px) {
  h5 {
    margin-top: 0;
  }
}

@media (max-width: 800px) {
  .recipe-cards {
    height: 30vw;
    margin: 6vw;
    width: 30%;

    img {
      height: 26vw;
    }

    h5 {
      font-size: 2vw;
      margin-top: 0;
    }
  }
}

@media (max-width: 425px) {
  .recipe-cards {
    height: 50vw;
    width: 35%;

    img {
      height: 40vw;
    }

    h5 {
      font-size: 4vw;
    }
  }
}
