.searchbar-form {
  align-items: center;
  background-color: lighten($searchBar-field, 15%);
  display: flex;
  font-family: $font-page;
  height: 100%;
  justify-content: center;
  margin-top: 88px;
  position: fixed;
  width: 100%;

  .searchbar-main {
    @include display-flex;
    justify-content: space-between;
    height: 40%;
    margin-bottom: 30%;
    margin-top: 15%;
    width: 60%;

    .input-field {
      background-color: $button-filter-color;
      border: 2px solid $header-footer-color;
      border-radius: 8px;
      height: 40px;
      outline: none;
    }

    .radio-buttons {
      align-items: center;
      @include display-flex;
      justify-content: center;
      width: 100%;

      label {
        font-style: italic;
        font-size: 40px;
      }

      .center-radios {
        @include display-flex;
        width: fit-content;

        label {
          display: flex;

          input[type=radio] {
            border: 0px;
            height: 35px;
            width: 35px;
          }
        }
      }
    }

    button {
      background-color: $button-filter-color;
      border: 2px solid $header-footer-color;
      border-radius: 8px;
      height: 40px;
      font-size: 30px;
      outline: none;

      &:focus {
        font-style: italic;
      }
    }
  }
}
