.searchbar-form {
  align-items: center;
  background-color: lighten($searchBar-field, 15%);
  display: flex;
  font-family: $font-page;
  height: 15vh;
  justify-content: center;
  margin-top: 58px;
  opacity: 0.93;
  position: fixed;
  width: 100%;

  .searchbar-main {
    @include display-flex;
    justify-content: space-around;
    height:100%;
    width: 95%;

    .input-field {
      background-color: $button-filter-color;
      border: 2px solid $header-footer-color;
      border-radius: 5px;
      height: 5vw;
      outline: none;
      width: 98%;
    }

    .radio-buttons {
      align-items: center;
      height: 50%;
      @include display-flex();
      justify-content: center;
      width: 100%;

      label {
        font-style: italic;
        font-size: 4vw;
      }

      .center-radios {
        display: flex;
        width: fit-content;

        label {
          display: flex;

          input[type=radio] {
            border: 0px;
            height: 3vw;
            width: 3vw;
          }
        }
      }
    }

    button {
      background-color: $button-filter-color;
      border: 2px solid $header-footer-color;
      border-radius: 5px;
      font-size: 4vw;
      outline: none;

      &:focus {
        font-style: italic;
      }
    }
  }
}
