body {
  background-color: #fff7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: auto;
  padding-top: 60px;
  padding-bottom: 70px;
}

.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ff6c40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.header-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;
  margin-top: 5px;
  width: 95%;
}

.image {
  background: none;
  border: none;
  width: 3%;
  height: 30px;
  outline: none;
}

img {
  width: 25px;
}

@media (max-width: 768px) {
  .header-content {
    font-size: 25px;
    width: 90%;
  }
}

@media (max-width: 550px) {
  .header-content {
    font-size: 20px;
    width: 85%;
  }
  img {
    width: 6vw;
  }
}

.footer {
  background: #ff6c40;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.footer-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 95%;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: auto;
  padding: 10px 0;
  width: 95%;
}

.filter-button {
  background: none;
  border: 2px solid #fff7f7;
  border-radius: 15px;
  color: #fff7f7;
  font-size: 12px;
  font-weight: 700;
  outline: none;
  padding: 5px 15px;
  white-space: nowrap;
}

.active-filter {
  background: #fff7f7;
  color: #ff6c40;
}

@media (max-width: 750px) {
  .filters {
    padding: 0;
    padding-bottom: 5px;
  }
  .filters .filter-button {
    margin-right: 2vw;
    padding: 0 15px;
  }
}

.searchbar-form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffc1ae;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 15vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 58px;
  opacity: 0.93;
  position: fixed;
  width: 100%;
}

.searchbar-form .searchbar-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  width: 95%;
}

.searchbar-form .searchbar-main .input-field {
  background-color: #fff7f7;
  border: 2px solid #ff6c40;
  border-radius: 5px;
  height: 5vw;
  outline: none;
  width: 98%;
}

.searchbar-form .searchbar-main .radio-buttons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.searchbar-form .searchbar-main .radio-buttons label {
  font-style: italic;
  font-size: 4vw;
}

.searchbar-form .searchbar-main .radio-buttons .center-radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.searchbar-form .searchbar-main .radio-buttons .center-radios label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.searchbar-form .searchbar-main .radio-buttons .center-radios label input[type=radio] {
  border: 0px;
  height: 3vw;
  width: 3vw;
}

.searchbar-form .searchbar-main button {
  background-color: #fff7f7;
  border: 2px solid #ff6c40;
  border-radius: 5px;
  font-size: 4vw;
  outline: none;
}

.searchbar-form .searchbar-main button:focus {
  font-style: italic;
}

.recipe-cards {
  background-color: #ff8661;
  border: 1px solid #fff7f7;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 1em #ff602f;
          box-shadow: 0 0 1em #ff602f;
  height: 15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 3vw 1vw 0 1vw;
  overflow: hidden;
  width: 15%;
}

.recipe-cards img {
  border-bottom: 1px #fff7f7 solid;
  height: 13vw;
  width: 100%;
}

.recipe-cards h5 {
  color: black;
  font-size: 1vw;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 5px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

@media (max-width: 1440px) {
  h5 {
    margin-top: 0;
  }
}

@media (max-width: 800px) {
  .recipe-cards {
    height: 30vw;
    margin: 6vw;
    width: 30%;
  }
  .recipe-cards img {
    height: 26vw;
  }
  .recipe-cards h5 {
    font-size: 2vw;
    margin-top: 0;
  }
}

@media (max-width: 425px) {
  .recipe-cards {
    height: 50vw;
    width: 35%;
  }
  .recipe-cards img {
    height: 40vw;
  }
  .recipe-cards h5 {
    font-size: 4vw;
  }
}

.main-detail {
  height: calc(100vh - (40px * 2));
  overflow: scroll;
  padding-bottom: 45px;
  padding-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-detail .details-card {
  margin-bottom: 10px;
}

.main-detail .details-card .recipe-image {
  height: 70vw;
  width: 100%;
}

.main-detail .details-card .details {
  padding: 0 15px;
}

.main-detail .details-card .details .name-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-detail .details-card .details .name-field h3 {
  margin: 0;
}

.main-detail .details-card .details .name-field .name-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-detail .details-card .details .name-field .name-category span {
  font-style: italic;
}

.main-detail .details-card .details .name-field button {
  background: none;
  border: none;
  height: 30px;
  margin-right: 5px;
  outline: none;
}

.main-detail .details-card .details .ingredients-title {
  text-align: center;
  width: 100%;
}

.main-detail .details-card .details .ingredient-done {
  text-decoration: line-through;
}

.main-detail .details-card .details .ingredient-not-done {
  text-decoration: none;
}

.main-detail .details-card .details .ingredients-list:nth-child(even) {
  font-style: italic;
}

.main-detail .details-card .details p {
  text-align: justify;
}

.main-detail .start-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.main-detail .start-button a {
  width: calc(100% - (15px * 2));
}

.main-detail .start-button button {
  border: 2px solid #ff6c40;
  border-radius: 5px;
  outline: none;
  width: 100%;
}

.main-explore {
  height: calc(100vh - (40px * 2));
  overflow: scroll;
  padding-bottom: 45px;
  padding-top: 35px;
}

.ingredient-cards {
  background-color: #ff8661;
  border: 2px solid #ff6c40;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 2em #ff8661;
          box-shadow: 0 0 2em #ff8661;
  height: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 6vw 2vw;
  overflow: hidden;
  text-align: center;
  width: 40%;
}

.ingredient-cards img {
  background-color: white;
  border-bottom: 2px #ff6c40 solid;
  width: 100%;
}

.ingredient-cards h5 {
  color: black;
  font-size: 4vw;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 5px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.explore-input {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.explore-input label {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 90%;
}

.explore-input .input-field {
  background-color: #fff7f7;
  border: 2px solid #ff6c40;
  border-radius: 5px;
  height: 8vw;
  outline: none;
  width: 100%;
}

.explore-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: auto;
}

.main-profile {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100vh - (40px * 2));
  overflow: scroll;
  padding-bottom: 45px;
  padding-top: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-profile .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(90vh - (40px * 2));
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
}

.main-profile .content .user {
  background-color: blueviolet;
  height: 40%;
  width: 100%;
}

.main-profile .content .buttons {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.main-profile .content .buttons .inner-field {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.main-profile .content .buttons .inner-field a {
  width: 100%;
}

.main-profile .content .buttons .inner-field a button {
  background-color: #fff7f7;
  border: 2px solid #ff6c40;
  border-radius: 5px;
  font-size: 4vw;
  height: 8vw;
  outline: none;
  width: 100%;
}
/*# sourceMappingURL=App.css.map */